<launch>
    <node pkg="colistener" type="colistener" name="colistener" output="screen">
        <rosparam>
            persistence_expire_secs: 1800
            persistence_file_path: "/tmp/colistener/persistence/ros1.db"
            action_type: "common"
            log_directory: "/tmp/colistener/logs/"
            log_level: "Info"
        </rosparam>
    </node>
</launch>
